*{
    margin: 0;
    padding: 0;
}

#canvas1{
    background: none;
    position: absolute;
}

.controls{
    position: absolute;
    z-index: 100;
}

img{
    display: none;
}

button{
    padding: 20px;
    font-size: 30px;
    margin: 20px;
    color: white;
    background: black;
    transition: 0.2s;
}
button:hover{
    color: black;
    background: wheat;
}